body {
    font-family: sans-serif;
    background-color: #efebce;
}

h1, h2, h3 {
    font-family: 'Lucida Sans';
}

h1 {
    font-size: 2em;
}

#page-title {
    font-size: 3em;
    font-family: Impact;
}

a {
    color:chocolate;
    text-decoration: none;
} 

div #only-content {
    background-color: white;
    margin: 10vh 10vw;
    padding: 5vh;
}

#page-title, #date {
    display: inline-block;
    width: 49.5%;
    /* Width less than 50% to 'fix' the whitespace inline-block issue */
}

#date {
    text-align: right;
}

/* To get around this, you can set the widths of the page title and date elements
using relative units that add up to 100%. */
header {
    font-size: 1rem;
}

/* Nav Bar Styling */

nav {
    background-color: #d8a48f;
}

nav li {
    color: #61321e; 
    display: inline-block;
    padding: 3vw;
}

nav li:hover, nav li:hover a {
    background-color: #bb8487;
    color: aliceblue;
}

nav a {
    color: #61321e;
    display: block;
    line-height: 2rem;
}

main, aside {
    display: inline-block;
}

/* Main Content Styling */
main {
    float: left;
    width: 75%;
}

aside {
    width: 25%;
}

/* Footer Styling */

footer {
    background-color: #bb8487;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 2vw;

    clear: both;
}